.btnRemove{
    border: 1px solid #34974d;
    background-color: #3aa856;
}
.btnRemove .button__icon {
    background-color: #34974d;
}
.btnRemove:hover {
    background: #34974d;
}
.btnRemove:active .button__icon {
    background-color: #2e8644;
}
.btnRemove:active {
    border: 1px solid #2e8644;
}
