* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(177, 218, 255);
  /* background: url('https://plus.unsplash.com/premium_photo-1661400268374-602816dd906c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGVjb21tZXJjZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D'); */
  background: url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGVjb21tZXJjZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D') no-repeat;
  background-size: cover;
}

/*------------ HomeComponent ------------*/
.topProducts {
  background: #fbfbf2;
}

.searchBox,
nav,
.info,
.readProduct {
  background: white;
}

.header {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  margin: 5px 0;
}

.siteLogo {
  width: 2.5em;
}

.siteLogo:hover,.profile:hover, .shopping:hover,.registerPage p:hover,.loginPage p:hover,.btnRegister:hover,.btnLogin:hover,
.productData:hover,.addToCart:hover  {
  cursor: pointer;
}

.headerRight {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchBox {
  display: flex;
  align-items: center;
  border: none;
  height: 1.5em;
  border-radius: 10px;
  padding: 0 10px;
}

.search {
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 5px;
}

.title {
  margin: 20px 0;
  color: red;
  text-align: center;
}

span {
  font-weight: 400;
}

nav {
  /* border: 1px solid; */
  width: 98vw;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10vw;
  padding: .5em 0;
}

.homePageLink {
  text-decoration: none;
  color: black;
  transition: 300ms;
  position: relative;
}

.homePageLink:hover::after {
  padding: 0 10px;
  border-right: 1px solid black;
  content: '';
  border-left: 1px solid black;
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  height: 100%;
}

.homePageLink:hover {
  color: rgb(255, 196, 0);
}

/*------------ Register-Login Page ------------*/
.registerPage,
.loginPage {
  /* border: 1px solid; */
  border-radius: 10px;
  width: 40vw;
  height: 22em;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: roboto;
  background: rgba(255, 255, 255, 0.671);
  backdrop-filter: blur(3px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding-bottom: .5em;
}

.registerPage input,
.loginPage input {
  height: 2em;
  padding-left: 1em;
}

.registerPage p,
.loginPage p {
  font-weight: 600;
  color: orangered;
}

.registerPage p:hover,
.loginPage p:hover {
  scale: 1.1;
  transition: 500ms;
}

.btnRegister,
.btnLogin {
  width: 8em;
  height: 2.3em;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  background: rgb(255, 193, 78);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*------------ Loader ------------*/
.loader {
  width: 56px;
  height: 56px;
  margin: 10em auto;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: rgba(50, 50, 255, 0.883);
  animation: loader 1s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}

/*------------ HOME Page ------------*/
.imageContainer {
  height: 60vh;
  /* border: 3px solid green; */
}

.imageContainer img {
  height: 100%;
}

.ImgCrsl {
  /* border: 1px solid red; */
  margin-top: 1em;
}

.thumbs {
  /* border: 1px solid ; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.homePage .bestSellers {
  margin: auto;
  /* border: 1px solid; */
  width: 9em;
}

.topProducts {
  /* border: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 1em .5em;
  padding: 1em 0;
}

.topProducts h2 {
  margin-left: 2em;
  font-family: lucida;
}

.topMobiles,
.topLaptops,
.topHeadphones,
.topCameras {
  /* border: 2px solid red; */
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  /* overflow-x: auto; */
}


.deliveryInfo {
  /* border: 1px solid ; */
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.info {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 1em;
}

.info img {
  width: 2fr;
}

.info p {
  font-size: 2.5vh;
}

/*------------ Routes(Products) Page ------------*/
.products {
  /* border: 1px solid blueviolet; */
  background: #fbfbf2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: 99%;
  margin: 1em .5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
  gap: 1.2em;
}

.productData {
  /* border: 1px solid red; */
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  width: 14em;
  height: 20em;
  padding: 10px;
  /* gap: 2px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* text-align: justify; */
}

.productTitle a {
  text-decoration: none;
  color: black;
}

.mobileImg {
  min-width: 100px;
  max-width: 180px;
  max-height: 180px;
}

.laptopImg {
  max-width: 180px;
  max-height: 180px;
}

.cameraImg {
  min-width: 100px;
  max-width: 160px;
  max-height: 200px;
}

.headphoneImg {
  max-width: 200px;
  max-height: 180px;
}

/*------------ Read Product Page ------------*/
.readProduct {
  /* border: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 1em .5em;
  display: flex;
  justify-content: center;
}

.viewProduct {
  /* border: 1px solid red; */
  height: 23em;
  width: 90vw;
  display: flex;
  gap: 2vw;
  padding: 1em;
  margin: 1em 3em;
}

.prodImg {
  /* border: 1px solid; */
  width: 40vw;
  /* max-height: 50vh; */
}

.productDetails {
  /* border: 2px solid green; */
  /* max-height: 50vh; */
  display: flex;
  flex-direction: column;
  gap: 3vh;
  /* justify-content: space-evenly; */
  align-items: baseline;
  overflow-y: auto;
}

.productDetails span {
  /* border: 1px solid blue; */
  border-radius: 3px;
  padding: 0.3em 0.5em;
  background: green;
  color: white;
}

.productPrices {
  /* border: 1px solid; */
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.Dprice {
  font-size: 24px;
  font-weight: 600;
}

.Aprice {
  text-decoration: line-through;
  color: grey;
}

.discPercent {
  color: green;
  font-weight: 600;
  animation: glow 1.5s infinite ease;
}

@keyframes glow {
  0% {
    scale: 1;
    opacity: .8;
  }

  50% {
    scale: 1.2;
    opacity: 1;
  }

  100% {
    scale: 1;
    opacity: .8;
  }
}

/* .prod {
  animation: none;
} */

.addToCart {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: orange;
  width: 10em;
  /* height: 3em; */
  padding: 1em;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.addToCart:hover {
  position: relative;
  top: 3px;
}

.productDesc {
  /* font-size: clamp(1rem, 0.3043rem+3.4783vw, 3rem); */
  /* font-size: calc(13px); */
}

/*------------ Footer Page ------------*/
.footer {
  /* border: 1px solid red; */
  background: #212328;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 2.5em;
  font-size: 12px;
  color: white;
  line-height: 2em;
}

.footer h1,
.footer h3 {
  color: grey;
  font-weight: 100;
  margin-bottom: 10px;
}

.sectionTop {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.uShop,
.followUs,
.contactUs {
  /* border: 1px solid black; */
  width: 26em;
}

.followUs .footerIcons {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-brands {
  font-size: 16px;
  color: white;
}

.sectionBottom {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sectionBottom div {
  /* border: 1px solid yellow; */
  width: 13em;

}

@media only screen and (max-width:450px) {
  .header {
    padding: 5px 20px;
  }

  .sectionTop,
  .sectionBottom {
    justify-content: center;
    text-align: center;
    gap: 1em;
  }

  .topMobiles,
  .topCameras,
  .topHeadphones,
  .topLaptops {
    flex-direction: column;
    margin: 1em 0;
  }

  .deliveryInfo {
    flex-direction: column;
  }

  .info {
    width: 100%;
  }

  .viewProduct {
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
  }

  .prodImg {
    width: 80vw;
  }
}