@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-blue-geometric-flattened-taobao-e-commerce-coupon-background-image_262564.jpg') ;
  background-size: contain;
}

/*------------ HomeComponent ------------*/
.topProducts,.products,.emptyCart,.cartProducts {
  background: #ffffff9a;
  backdrop-filter: blur(15px);
}
.searchBox,nav,.info,.readProduct {
  background: white;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  margin: 5px 0;
  position: relative;
}
.siteLogo {
  width: 3em;
}
.profile,.shopping{
  font-size: 22px;
}
.LogOutIconButton{
  font-size: 26px;
}
.siteLogo:hover,.profile:hover,.searchIcon:hover,.LogOutIconButton:hover, .shopping:hover,.registerPage p:hover,.loginPage p:hover,
.btnRegister:hover,.btnLogin:hover,.productData:hover,.addToCart:hover,.btnDecrement:hover,.btnIncrement:hover  {
  cursor: pointer;
}
.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchBox {
  display: flex;
  align-items: center;
  height: 2.2em;
  border-radius: 18px;
  padding: 0 10px;
}
.search {
  border-radius: 20px;
  width: 15em;
  font-size: 15px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.searchItemContainer{
  border-radius: 5px;
  background-color: white;
  width: 60%;
  max-height: 500px;
  position: absolute;
  z-index: 2;
  top: 10em;
  left:50%;
  overflow: scroll;
  transform: translate(-50%, -50%);
}
.SearchList__Item{
  width: 100%;
  margin-top: 10px;
  padding-left: 2em;
}
.SearchList__Item a{
  text-decoration: none;
  color: #000;
}
.title {
  border: 1px solid grey;
  color: red;
  height: 1.8em;
  display: flex;
  align-items: center;
  font-size: 25px;
  background: rgb(255, 255, 255);
  padding: 0.1em .5em;
  border-radius: 0 15px ;
}
span {
  font-weight: 400;
}

/*------------ Register-Login Page ------------*/
.registerPage,.loginPage {
  border-radius: 10px;
  width: 40vw;
  height: 22em;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: roboto;
  background: rgba(255, 255, 255, 0.671);
  backdrop-filter: blur(3px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding-bottom: .5em;
}
.registerPage input,.loginPage input {
  height: 2em;
  padding-left: 1em;
}
.registerPage p,.loginPage p {
  font-weight: 600;
  color: orangered;
}
.registerPage p:hover,.loginPage p:hover {
  scale: 1.1;
  transition: 500ms;
}
.btnRegister,.btnLogin {
  width: 8em;
  height: 2.3em;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  background: rgb(255, 193, 78);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*------------ Navbar ------------*/
.navbar {
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(217, 100%, 97%);
  position: relative;
  padding: 0 1.5em;
}
.container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo img{
  width: 40px;
}
.menu-icon img{
  width: 40px;
}
.menu-icon {
  display: none;
}
.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}
.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}
.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}
.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.menu-btn {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: rgb(137, 111, 250);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
}
.bar {
  width: 50%;
  height: 2px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}
.bar::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: rgb(126, 117, 255);
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s;
  box-shadow: 0px 0px 5px white;
}
.bar1::before {
  transform: translateX(-4px);
}
.bar2::before {
  transform: translateX(4px);
}
.menu-btn:hover .bar1::before {
  transform: translateX(4px);
}
.menu-btn:hover .bar2::before {
  transform: translateX(-4px);
}


/*------------ Loader ------------*/
.loader {
  width: 56px;
  height: 56px;
  margin: 10em auto;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: rgba(50, 50, 255, 0.883);
  animation: loader 1s infinite linear;
}
@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}

/*------------ HOME Page ------------*/
.imageContainer {
  height: 60vh;
}
.imageContainer img {
  height: 100%;
}
.ImgCrsl {
  margin-top: 1em;
}
.thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.homePage .bestSellers {
  margin: auto;
  width: 9em;
}

.topProducts {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 1em .3em;
  padding: 1em 0;
}
.topProducts h1{
  margin-left: 1.5em;
}
.topMobiles,.topLaptops,.topHeadphones,.topCameras {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .4em;
  margin-bottom: 1em;
}
.deliveryInfo {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.info {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 1em .8em;
}
.info img {
  width: 2fr;
}
.info p {
  font-size: 1em;
}

/*------------ Routes(Products) Page ------------*/
.products {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 1em .5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
  gap: 1.2em;
}
.productData {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 5px;
  width: 15em;
  height: 20em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}
.productData:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.productTitle a {
  text-decoration: none;
  color: black;
}
.cameraImg {
  min-width: 100px;
  max-width: 150px;
  max-height: 170px;
  object-fit: contain;
  transition: 500ms;
  overflow: hidden;
}
.productData:hover img{
  transform: scale(1.15);
  transition: 500ms;
}

/*------------ Read Product Page ------------*/
.readProduct {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 1em .5em;
  display: flex;
  justify-content: center;
}
.viewProduct {
  /* height: 23em; */
  width: 90vw;
  display: flex;
  gap: 2vw;
  padding: 1em;
  margin: 1em 3em;
}
.prodImg {
  width: 40vw;
  object-fit: contain;
}
.productDetails {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: baseline;
  overflow-y: auto;
}
.productDetails span {
  border-radius: 3px;
  padding: 0.3em 0.5em;
  background: green;
  color: white;
}
.productPrices {
  display: flex;
  gap: 1.5em;
  align-items: center;
}
.Dprice {
  font-size: 24px;
  font-weight: 600;
}
.Aprice {
  text-decoration: line-through;
  color: grey;
}
.discPercent {
  color: green;
  font-weight: 600;
  animation: glow 1.5s infinite ease;
}
@keyframes glow {
  0% {
    scale: 1;
    opacity: .8;
  }
  50% {
    scale: 1.2;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: .8;
  }
}

.addToCart,.btnRemove {
  position: relative;
  width: 150px;
  height: 4em;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}
.btnRemove{
  border: 1px solid #e62222;
  background: #e62222;
}
.addToCart,.btnRemove, .button__icon, .button__text {
  transition: all 0.3s;
  height: 3em;
  display: flex;
  align-items: center;
}
.addToCart .button__text,.btnRemove .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}
.addToCart .button__icon,.btnRemove .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnRemove .button__icon {
  background-color: #e62222;
}
.addToCart:hover {
  background: #34974d;
}
.btnRemove:hover {
  background: #e62222;
}
.addToCart:hover .button__text,.btnRemove:hover .button__text {
  color: transparent;
}
.addToCart:hover .button__icon,.btnRemove:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}
.addToCart:active .button__icon {
  background-color: #2e8644;
}
.btnRemove:active .button__icon {
  background-color: #e62222;
}
.addToCart:active {
  border: 1px solid #2e8644;
}
.btnRemove:active {
  border: 1px solid #e62222;
}

/*------------ Cart Page ------------*/
.emptyCart{
  width: 98%;
  height: 60vh;
  margin: 1em auto;
  display: grid;
  place-items: center;
}
.emptyCartMessage{
  width: 7em;
}
.cartProducts{
  min-height: 20em;
  margin: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  padding: 1.5em 1em;
}
.prodDetails{
  background: rgb(238, 252, 254);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 26em;
  height: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  border-radius: 10px 0;
}
.prodDetails p,.prodDetails span{
  font-size: 15px;
}
.modification{
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cartImg{
  padding: 2em 1em ;
  width: 17em;
  height: 15em;
  object-fit: contain;
  background: rgb(220, 237, 249);
  border-radius: 10px;
}
.priceDetails{
  border-radius: 5px;
  background: white;
  font-size: 1.3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 20em;
  height: 13em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .8em;
  padding: 2em auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.btnIncrement,.btnDecrement{
  width: 30px;
}
.btnBuyNow {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}
.btnBuyNow::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}
.btnBuyNow:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}
.btnBuyNow:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

/*------------ Success Page ------------*/
.successPage{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em auto;
  position: relative;
}
.successImg{
  width: 100%;
  height: 80vh;
  object-fit: contain;
}
.btnGoShopping{
  width: 10em;
  position: absolute;
  bottom: 10px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  background: white;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}
.btnGoShopping:hover{
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}
.btnGoShopping:active {
  transform: scale(0.9);
}

/*------------ Footer Page ------------*/
.footer {
  background: #212328;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 2.5em;
  font-size: 12px;
  color: white;
  line-height: 2em;
}
.footer h1,.footer h3 {
  color: grey;
  font-weight: 100;
  margin-bottom: 10px;
}
.sectionTop {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.uShop,.followUs,.contactUs {
  width: 22em;
}
.followUs .footerIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fa-brands {
  font-size: 16px;
  color: white;
}
.sectionBottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sectionBottom div {
  width: 13em;
}

@media only screen and (max-width:780px) {
  .registerPage,.loginPage{
    width: 60vw;
  }
  .prodDetails{ 
    width: 22em;
    height: 13em;
    gap: .8em;
  }
  .productData{
    width: 14em;
  }
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .sectionTop{
    text-align: center;
  }
}
@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(80vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 1;
  }
  .nav-elements.active {
    width: 270px;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
  }
  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
@media only screen and (max-width:540px) {
  .header {
    padding: 5px 10px;
  }
  .headerRight{
    gap: 10px;
  }
  .search{  width: 10em;}
  .searchItemContainer{ width: 90%;}
  .registerPage,.loginPage{
    width: 90vw;
  }
  .imageContainer {  height: 95%;}
  .carousel .control-dots { margin: 5px 0;}
  .topMobiles,.topCameras,.topHeadphones,.topLaptops {
    flex-direction: column;
    margin: 1em 0;
    gap: 1em;
  }
  .cameraImg{
    max-height: 160px;
  }
  .prodDetails{ 
    gap: .3em;
    height: 13em;
  }
  .productData{
    width: 15em;
  }
  .cartProducts{
    flex-direction: column;
    align-items: center;
  }
  .viewProduct {
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
  }
  .prodImg {
    width: 80vw;
  }
  .prodDetails{
    width: 80vw;
  }
  .priceDetails{
    width: 90vw;
  }
  .btnGoShopping{
    width: 8em;
    bottom: 11vh;
    padding: 10px 20px;
  }
  .sectionTop,  .sectionBottom {
    justify-content: center;
    text-align: center;
    gap: 1em;
  }
  .deliveryInfo {
    flex-direction: column;
    gap: 1em;
  }
  .info {
    width: 100%;
  }
}
@media only screen and (max-width:350px) {
  .headerRight{ width: 80%;}
  .search{  width: 90%;}
}